{% extends 'base.html' %}

{% block content %}

<h1 class="is-size-3">Edit Drink: {{ drink.name }}</h1>

<form action="{{ url_for('drink_update', drink_id=drink.id) }}" method="post">
    <div class="field">
        <label class="label" for="name">Name</label>
        <div class="control">
            <input name="name" value="{{ request.form['name'] or drink.name }}" class="input"></input>
        </div>
    </div>

    <div class="field">
        <label class="label" for="origin">Body (Supports Markdown)</label>
        <div class="control">
            <textarea name="origin" class="textarea has-text-monospaced">{{ request.form['origin'] or drink.origin }}</textarea>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <input type="submit" value="Update Drink" class="button is-primary" />
        </div>
        <div class="control">
            <a href="{{ url_for('drink_index') }}" class="button is-text">Cancel</a>
        </div>
    </div>
</form>

{% endblock %}
